<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="memberDTO" class="com.i5.common.MemberDTO">
        <property name="id" value="1"/>
        <property name="nickname" value="재협"/>
    </bean>

    <bean id="boardDTO" class="com.i5.common.BoardDTO">
        <property name="id" value="1"/>
        <property name="title" value="제목1"/>
        <property name="content" value="내용1"/>
        <property name="writer" ref="memberDTO"/>
    </bean>


</beans>